{% extends "base.html" %}
{% block content %}
    <h4 style="margin-left: 10px;">{{ request.session.cart_item }} <i class="fa fa-shopping-cart"></i></h4>
    {% if cart.product.exists %}
    <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              {% for product in cart.product.all %}  
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ product.title }}{% include 'products/snippets/add_to_cart.html' with product=product cart=cart in_cart=True %}</td>
                <td>{{ product.price }}</td>
              </tr>
              {% endfor %}
              <tr>
                <td colspan="2"></td> 
                <td><b>Subtotal: </b>{{ cart.subtotal }}</td>
              </tr>
              <tr>
                <td colspan="2"></td>  
                <td><b>Total: </b>{{ cart.total }}</td>
              </tr>
              <tr>
                <td colspan="2"></td>  
                <td><a class="btn btn-lg btn-success" href="{% url 'cart:checkout' %}">Checkout</a></td>
              </tr>
            </tbody>
          </table>
    {% else %}
    <p>cart empty</p>
    {% endif %}
{% endblock %}