{% url 'home' as home_url %}
{% url 'products' as products_url %}
{% url 'contact' as contact_url %}
{% url 'about' as about_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'cart:home' as cart_url %}
{% load static %}
{% block nav %}

    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#"><img src="{% static 'img/logo1.jpg' %}"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if request.path == home_url %}active{% endif %}">
            <a class="nav-link" href="{{ home_url }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item {% if request.path == products_url %}active{% endif %}">
            <a class="nav-link" href="{{ products_url }}">Product</a>
          </li>
          <li class="nav-item {% if request.path == contact_url %}active{% endif %}">
            <a class="nav-link" href="{{ contact_url }}" tabindex="-1">Contact</a>
          </li>
          <li class="nav-item {% if request.path == about_url %}active{% endif %}">
            <a class="nav-link" href="{{ about_url }}" tabindex="-1">About</a>
          </li>
          {% if user.is_authenticated %}
            <li class="nav-item {% if request.path == about_url %}active{% endif %}">
              <a class="nav-link" tabindex="-1" href="{{ login_url }}">Logout</a>
            </li>
            <li class="nav-item {% if request.path == about_url %}active{% endif %}">
              <a class="nav-link" tabindex="-1" href="{{ register_url }}">Register</a>
            </li>
          {% else %}
            <li class="nav-item {% if request.path == about_url %}active{% endif %}">
              <a class="nav-link" tabindex="-1" href="{{ login_url }}">Login</a>
            </li>
          {% endif %}
          <li class="nav-item {% if request.path == cart_url %}active{% endif %}">
              <a class="nav-link" tabindex="-1" href="{{ cart_url }}">{{ request.session.cart_item }} <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            </li>

        </ul>
      </div>
    </nav>
    <form class="form my-2 my-lg-0" action="{% url 'search' %}">
      <div class="input-group  mr-auto ml-auto mt-2" style="width: 350px;">
        <input class="form-control" type="search" placeholder="Search" name="q" aria-label="Search">
        <span class="input-group-append">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </span>
      </div>

    </form>
{% endblock %}
